.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 720px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 64px 24px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.intro h1 {
  max-width: 420px;
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -1px;
  text-wrap: balance;
  color: var(--foreground);
}

.intro p {
  max-width: 520px;
  font-size: 18px;
  line-height: 30px;
  text-wrap: balance;
  color: var(--foreground);
  opacity: 0.8;
}

.user {
  font-weight: 500;
  opacity: 1;
}

.ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
  gap: 16px;
  font-size: 16px;
}

.ctas form {
  width: 100%;
}

.ctas button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 100%;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid var(--foreground);
  transition: 0.2s;
  cursor: pointer;
  font-weight: 500;
  font-family: var(--font-geist-sans);
  font-size: 16px;
}

.primary {
  background: var(--foreground);
  color: var(--background);
}

.secondary {
  background: transparent;
  color: var(--foreground);
}

@media (hover: hover) and (pointer: fine) {
  .primary:hover {
    opacity: 0.85;
  }

  .secondary:hover {
    opacity: 0.8;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 34px;
    line-height: 40px;
  }

  .intro p {
    font-size: 16px;
    line-height: 26px;
  }
}
